---
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';

export async function getStaticPaths({ paginate }) {
	const posts = await getCollection("gallery");
	return paginate(posts, { pageSize: 16 });
}
const images = import.meta.glob<{ default: ImageMetadata }>("/src/gallery/images/art-thumbnail/*.{jpeg,jpg,png,gif}");
const { page } = Astro.props;
---
<div class="gallery-header">
	<h1>Gallery</h1>
</div>
<div class="gallery-main">
	<ul class="list-main">
		{page.data.sort((a, b) =>  Date.parse(b.data.date) - Date.parse(a.data.date)).map(({ data }) => {
		const imgPath = `/src/gallery/images/art-thumbnail/${data.image}`;
		return <li class="list-item" ><a href={`/gallery/art/${data.name}`}><Image class="art" src={images[imgPath]()} alt={data.alt}></Image></a></li>
		})}
	</ul>
</div>
<div class="gallery-page">
	<h2>{page.currentPage}</h2>
</div>
<div class="gallery-footer">
	{page.url.prev != undefined? <a href={page.url.prev}><==|</a> : <p></p>}
	{page.url.next != undefined? <a href={page.url.next}>|==></a> : <p></p>}	
</div>
<style>
 body {
	 background-color: #1B2021;
 }
 .gallery-footer a {
	 text-decoration: none;
	 color: #30343F;
	 font-size: 48px;
	 margin-left: 20px;
	 margin-right: 20px;
	 border-radius: 10px;
	 border-bottom-width: 4px;
	 border-bottom-style: solid;
	 border-bottom-color: #89023E;
	 background-color: #EA638C;
 }

 .gallery-footer a:hover {
	 color: #FFD9DA;
	 background-color: #89023E;
	 border-bottom-color: #EA638C;
 }
 
 .gallery-footer {
	 padding-bottom: 20px;
 }
 
 .gallery-footer, .gallery-page {
	 background-color: #30343F;
	 max-width:900px;
	 height: 80px;
	 margin-left: auto;
	 margin-right: auto;	 
	 /* border-radius: 15px; */
	 border-top-color: #EA638C;
	 border-top-style: solid;
	 border-bottom-right-radius: 15px;
	 border-bottom-left-radius: 15px;
	 border-top-width: 0;
	 display: flex;
	 justify-content: space-between;
	 align-items: center;
 }

 .gallery-page {
	 height:40px;
	 text-align: center;
	 justify-content: center;
	 border-bottom-width: 0;
	 border-top-width: 2px;
	 border-bottom-right-radius: 0px;
	 border-bottom-left-radius: 0px;
 }

 .gallery-page h2 {
	 font-size: 24px;
	 padding: 10px;
	 background-color: #30343F;
	 border-radius: 10px;
	 border-style: solid;
	 border-width: 2px;
	 color: #FFD9DA;
	 border-color: #EA638C;
 }
 
 .gallery-header {
	 background-color: #30343F;
	 max-width:900px;
	 height: 80px;
	 margin-left: auto;
	 margin-right: auto;
	 border-radius: 15px;
	 border-bottom-width: 2px;
	 border-bottom-left-radius: 0;
	 border-bottom-right-radius: 0;
	 border-bottom-color: #EA638C;
	 border-bottom-style: solid;
	 display: flex;
	 justify-content: flex-start;
	 align-items: center;
 }
 .gallery-header h1 {
	 padding: 0;
	 display:flex;
	 margin: 0;
	 margin-left: 20px;
	 justify-content: flex-start;
	 vertical-align: middle;
	 color: #FFD9DA;
	 text-shadow: 0 2px #89023E;
	 font-size: 24px;
 }

 .gallery-main {
	 background-color: #30343F;
	 max-width:900px;
	 margin-left: auto;
	 margin-right: auto;
	 padding-top: 20px;
	 padding-bottom: 20px;
 }
 .list-main {
	 padding-left: 0;
	 display: flex;
	 flex-direction: row;
	 list-style-type: none;
	 gap: 20px;
	 justify-content: center;
	 max-width: 900px;
	 margin-left: auto;
	 margin-right: auto;
	 flex-wrap: wrap;
 }
 .list-item {
	 max-height:250px;
	 max-width:250px;
	 width: auto;
	 
 }
 .art {
	 width: auto;
	 height: auto;
	 max-width:250px;
	 max-height: 250px;
	 background-color: #EA638C;
	 padding: 4px;
	 border-radius: 15px;
	 border-bottom: 6px solid #89023E;	 
 }
 .art:hover {
	 background-color: #89023E;
	 border-bottom: 6px solid #EA638C;
	 cursor: pointer;
 }
</style>
